.sobre-nos { 
    padding: 50px;
    padding: 200px;
 }
 
 body {
 background-color: #44312B;
 }
 
 .h1-sobre-nos {
    font-size: 50px;
    margin-left: 30px;
}

.sobre-nos p {
    text-align: left;
    margin-bottom: 100px;
    font-size: 22px;
    margin-left: 50px;
}

