.sobre-nos { 
    /* padding: 50px;
    padding: 200px; */
    text-align: center;
    width: 80vw;
    margin: auto;
 }
 
 body {
    background-color: #44312B;
 }
 
 .h1-sobre-nos {
    font-size: 50px;
    margin-left: 30px;
}

.sobre-nos p {
    text-align: left;
    /* margin-bottom: 100px; */
    margin: 25px 0 20px 0;
    font-size: 22px;
    /* margin-left: 50px; */
}

.beneficio {
    text-align: left;
    margin-bottom: 50px;
    font-size: 22px;
    margin-left: 30px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
}
.beneficio {
    color: white;
}

.container h2{
    color: white;
    padding: 0 0 10px 0px;
}