* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #44312b;
}

header {
  background-color: var(--header);
  font-weight: 600;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 320px;
  height: 100px;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: space-around;
}

div {
  width: 242px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px 0 10px 0;
}

div img {
  width: 150px;
  height: 150px;
}

h1 {
  text-align: center;
  color: white;
  padding: 20px;
}

footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

footer h2 {
  font-size: 1.3rem;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  margin-top: 10px;
}

.esfera {
  background-color: var(--white);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.esfera:hover {
  box-shadow: 0 0 10px 0.25rem var(--header);
}

.icon-github,
.icon-email {
  margin-top: 3px;
  width: 33px;
}
